@import '../abstract/variables';

.scale-info-div {
    z-index: $level-7;
    background-color: rgba($color: #FFF, $alpha: 1);
    position: fixed;
    bottom: 50px;
    left: 20px;
    padding: 10px;
    border-radius: 50px;

}  