@import './variables';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.teste {
    width: 5000px;
    height: 2000px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
}