@import './variables';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

body::-webkit-scrollbar {
  //display: none;
}

.interactive-layer {
  width: $board-width;
  height: $board-height;
  position: absolute;
  top: 0;
  left: 0;
  //z-index: $level-6;
  //background: rgba($color: white, $alpha: 0.3);
} 




/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #BABABA;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }