//Configurations
$board-width: 5000px;
$board-height: 2000px;


//Colors
$color-light-gray: #e4e4e4;
$color-black-1: #212121;
$color-white-1: #FFF;

//Font-sizes
$font-size-12px: 0.75rem;
$font-size-16px: 1rem;
$font-size-24px: 1.5rem;
$font-size-36px: 2.25rem;
$font-size-40px: 2.5rem;

//Font-weights
$font-light-300: 300;
$font-regular-400: 400;
$font-bold-700: 700;


//Gradients
$linear-white: white;


//Z-index levels
$z-level-1: 10;
$z-level-2: 20;
$z-level-3: 30;
$z-level-4: 40;
$z-level-5: 50;
$z-level-6: 60;
$z-level-7: 70;
$z-level-8: 80;
$z-level-9: 90;
$z-level-10: 100;