//Configurations
$board-width: 20000px;
$board-height: 3000px;

$rail-div-width: calc(4 * 50px);
$rail-div-background-size: calc(100% / 4);

//Responsiveness settings
$mobile-max: 1000px;


//Colors
$color-light-gray: transparent;
$color-black-1: #212121;
$color-black-2: #424242;
$color-white-1: #FFF;

//Font-sizes
$font-size-12px: 0.75rem;
$font-size-16px: 1rem;
$font-size-24px: 1.5rem;
$font-size-36px: 2.25rem;
$font-size-40px: 2.5rem;

//Font-weights
$font-light-300: 300;
$font-regular-400: 400;
$font-bold-700: 700;


//Gradients
$linear-white: white;


//Z-index levels
$level-1: 10;
$level-2: 20;
$level-3: 30;
$level-4: 40;
$level-5: 50;
$level-6: 60;
$level-7: 70;
$level-8: 80;
$level-9: 90;
$level-10: 100;